<h2>在父子组件之间传递状态</h2>
{{#parent-card model=model}}
    {{#child-header selectedUser=selectedUser}}{{/child-header}}
  <div class="grid">
    {{#child-list model=model selectedUser=selectedUser}}{{/child-list}}
    {{#child-cell selectedUser=selectedUser}}{{/child-cell}}
  </div>
{{/parent-card}}
<!-- <section class="card">

{{#child-header }}{{/child-header}}
{{#child-list }}{{/child-list}}
{{#child-cell }}{{/child-cell}}
  <header class="card-header">
    用户列表{{if selectedUser (concat " - " selectedUser.login)}}
  </header>

  <div class="grid">
    <ul class="cell -4of12" local-class="user-list">
      {{#if selectedUser}}
        <button type="button" class="btn btn-primary btn-block" onclick={{action "clearUser"}}>
          重置
        </button>
      {{/if}}
      {{#each model as |user|}}
        <li local-class="user-item" onclick={{action "selectUser" user}}>{{user.login}}</li>
      {{/each}}
    </ul>

    <div class="cell -8of12">
      {{#unless selectedUser}}
        <h3 class="grid -center">请在左边列表选择一个用户</h3>
      {{else}}
        <h3 class="grid -center">{{selectedUser.login}}</h3>
        <div class="grid -center">
          <div class="cell -6of12">
            <picture class="intrinsic -square">
              <source media="(min-width: 980px)" srcset={{selectedUser.avatar_url}}>
              <img src={{selectedUser.avatar_url}} title={{selectedUser.login}}>
            </picture>
          </div>
        </div>
      {{/unless}}
    </div>
  </div>
</section> -->
